# General OS/IDE
.DS_Store
.idea

# Data
.dk-installer
demo-config.json
dk-*-credentials.txt
dk-*-install.json

# Docker
docker-compose.yml
obs-docker-compose.yml

# Logs
testgen_demo.log

# Local env
.python-version
venv
*.pyc

# PyInstaller
build/
dist/
*.egg-info/
dk-installer.spec

# Claude
.claude/.local/

# UV
bin/
uv.lock
